<div class="patient-details-container">
  <mat-card>
    <mat-card-title> <div class="header">Patient Details</div> </mat-card-title>
    <div class="patient-details-container-content">
      <div>{{ selectedPatient?.id }}</div>
      <div>{{ selectedPatient?.firstName }}</div>
      <div>{{ selectedPatient?.lastName }}</div>
      <div>{{ selectedPatient?.dob }}</div>
      <div>{{ selectedPatient?.gender }}</div>
      <div>{{ selectedPatient?.address }}</div>
      <div>{{ selectedPatient?.pincode }}</div>
      <div>{{ selectedPatient?.emailId }}</div>
      <div>{{ selectedPatient?.phone }}</div>
    </div>
  </mat-card>
</div>
