<div class="home-container">
  <div class="header">
    <h2  class="title"><mat-icon class="icon" color="primary">local_hospital</mat-icon> <span class="title-text">Just Smile</span></h2>
    <button class="logout-btn" matTooltip="Logout" matTooltipPosition="left" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <div class="home-main">
    <div class="options">
      <button routerLink="/home" matTooltip="Home"  matTooltipPosition="right" class="option" mat-fab color="secondary" aria-label="Example icon button with a delete icon">
        <mat-icon>home</mat-icon>
      </button>
      <button routerLink="/add-patient" matTooltip="Add Patient" matTooltipPosition="right" class="option" mat-fab color="secondary" aria-label="Example icon button with a delete icon">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button routerLink="/search-patient" matTooltip="Search Patient" matTooltipPosition="right" class="option" mat-fab color="secondary" aria-label="Example icon button with a delete icon">
        <mat-icon>assignment_ind</mat-icon>
      </button>
      <button routerLink="/sign-up" matTooltip="Add User" matTooltipPosition="right" class="option" mat-fab color="secondary" aria-label="Example icon button with a delete icon">
        <mat-icon>supervised_user_circle</mat-icon>
      </button>
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



